
AddDefaultCharset UTF-8

#RewriteCond  %{REMOTE_ADDR} !127.0.0.1
#RewriteCond %{REQUEST_FILENAME} !under/under.jpg
#RewriteRule ^(.*)$ under/under.htm [L,QSA]

php_flag display_errors on 


Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt|public)
RewriteCond %{REQUEST_URI} !\.(css│js│jpg│gif│png)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]