
AddDefaultCharset UTF-8

#RewriteCond  %{REMOTE_ADDR} !127.0.0.1
#RewriteCond %{REQUEST_FILENAME} !under/under.jpg
#RewriteRule ^(.*)$ under/under.htm [L,QSA]

php_flag display_errors on 


<IfModule mod_rewrite.c>

  
    #RewriteEngine on

    #RewriteRule ^(.*)$ public_html/index.php/$1 [L]

</IfModule> 